body {
  padding-top: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 0px 0px 10px;
  color: #c7aa8b;
  font-size: 47px;
  line-height: 55px;
  font-weight: 500;
}

h2 {
  margin: 0px 0px 10px;
  color: #4d4d4d;
  font-size: 30px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  margin: 10px 0px;
  font-size: 31px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin: 0px 0px 10px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
}

.button {
  display: inline-block;
  padding: 8px 15px;
  border: 2px solid #fff;
  background-color: rgba(77, 77, 77, .2);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fff;
  color: #323232;
}

.button.beige {
  border-color: #c7aa8b;
  color: #c7aa8b;
}

.button.beige:hover {
  background-color: #c7aa8b;
  color: #323232;
}

.button.beige.footer {
  display: block;
  margin-top: -8px;
  margin-right: auto;
  margin-left: auto;
}

.button.beige.footer.w--current {
  color: #89b0fe;
}

.button.form {
  margin-top: 22px;
  margin-bottom: 23px;
  border-color: #323232;
  background-color: #323232;
  color: #89b0fe;
}

.button.form:hover {
  background-color: transparent;
  color: #323232;
}

.button.solid {
  border-color: #c7aa8b;
  background-color: #c7aa8b;
}

.button.solid:hover {
  background-color: transparent;
  color: #c7aa8b;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #323232;
  box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, .13);
}

.nav-link {
  padding: 20px 30px;
  border-right: 1px solid #4d4d4d;
  -webkit-transition: background-color 100ms ease, margin 500ms ease;
  transition: background-color 100ms ease, margin 500ms ease;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ededed;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: #000;
  color: #fff;
}

.nav-link.w--current {
  background-color: #000;
  box-shadow: none;
  color: #98bced;
}

.nav-link.w--current:hover {
  color: #c7aa8b;
}

.nav-link.social-icons {
  padding: 18px 22px 22px;
  float: right;
  border-left: 1px solid #4d4d4d;
  opacity: 0.8;
}

.nav-link.social-icons:hover {
  opacity: 1;
}

.nav-link.social-icons.last {
  border-left-style: none;
}

.logo-text {
  margin-top: 3px;
  margin-right: 31px;
  float: left;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ededed;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-menu {
  float: left;
  border-left: 1px solid #4d4d4d;
}

.stone-logo {
  margin-right: 8px;
  float: left;
  opacity: 0.9;
}

.stone-logo.footer {
  opacity: 0.4;
}

.brand {
  padding-top: 17px;
}

.brand.w--current {
  position: relative;
  width: auto;
  padding-top: 17px;
}

.section {
  padding-top: 25px;
  padding-bottom: 0px;
  color: #4d4d4d;
}

.section.grey {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #333;
  color: #fff;
}

.section.beige {
  position: static;
  top: 0px;
  padding-top: 80px;
  background-color: #9dbee9;
}

.section.image {
  position: static;
  padding-top: 127px;
  padding-bottom: 127px;
  background-image: url('../images/ocean.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.section.lightgrey {
  background-color: #f7f7f7;
}

.section.footer {
  padding-top: 65px;
  padding-bottom: 53px;
  background-color: #323232;
}

.main-heading {
  margin-top: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 79px;
  line-height: 66px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}

.main-heading.bold {
  position: relative;
  font-weight: 700;
}

.slider-nav {
  bottom: -100px;
  font-size: 9px;
  line-height: 10px;
}

.main-subheading {
  margin-top: 18px;
  margin-bottom: 44px;
  font-family: Vollkorn, serif;
  color: hsla(0, 0%, 100%, .81);
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
}

.horizontal-bar {
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: #fff;
}

.horizontal-bar.beige {
  display: inline-block;
  background-color: #98bced;
}

.horizontal-bar.lightgrey {
  background-color: rgba(50, 50, 50, .18);
}

.slider {
  height: 490px;
  background-color: transparent;
}

.slide {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 100px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.slide._2 {
  background-image: url('../images/city.jpg');
}

.slide._3 {
  background-image: url('../images/town.jpg');
}

.process-titles {
  margin-bottom: 23px;
  padding-top: 23px;
  border-top: 1px solid rgba(50, 50, 50, .13);
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.icon-wrapper {
  height: 109px;
  margin-bottom: 24px;
  text-align: center;
}

.number {
  margin-top: -22px;
  margin-bottom: 2px;
  padding-top: 0px;
  color: rgba(50, 50, 50, .09);
  font-size: 16px;
  text-transform: uppercase;
}

.testimonials-slider {
  height: auto;
  padding-right: 47px;
  padding-left: 47px;
  background-color: transparent;
}

.testimonial-slide {
  width: 50%;
  padding: 24px 30px;
  text-align: center;
}

.left-arrow {
  width: 45px;
  color: #d1d1d1;
}

.left-arrow:hover {
  color: #c7aa8b;
}

.right-arrow {
  width: 45px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #d1d1d1;
}

.right-arrow:hover {
  color: #c7aa8b;
}

.testimonial {
  margin-bottom: 18px;
  font-family: Vollkorn, serif;
  font-size: 18px;
  font-style: italic;
}

.small-title {
  color: rgba(50, 50, 50, .36);
  font-size: 16px;
  text-transform: uppercase;
}

.small-title-wrapper {
  margin-bottom: 20px;
  text-align: center;
}

.author {
  color: #c7aa8b;
  text-transform: uppercase;
}

.footer-text {
  margin-top: 3px;
  color: #858585;
}

.footer-text.address {
  text-align: right;
}

.subheading {
  margin-top: 19px;
  margin-bottom: 10px;
  font-family: Vollkorn, serif;
  color: #a6a6a6;
  font-size: 18px;
  font-style: italic;
}

.contact-form-column {
  padding: 74px 33px;
  border-color: #89b0fe;
  background-color: #8eb5f8;
}

.contact-info-column {
  padding-top: 72px;
}

.field {
  height: 52px;
  margin-bottom: 14px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 0px solid #000;
  color: #323232;
  font-size: 18px;
  text-transform: uppercase;
}

.field:hover {
  background-color: hsla(0, 0%, 100%, .8);
}

.field:focus {
  box-shadow: inset 0 0 0 0 transparent;
}

.success {
  padding-top: 35px;
  padding-bottom: 43px;
  border: 3px solid #323232;
  background-color: transparent;
  color: #323232;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}

.success-message {
  margin-bottom: 73px;
}

.contact-icon {
  margin-top: 31px;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 11px;
}

.project-title {
  margin-bottom: 20px;
}

.tag-wrapper {
  margin-bottom: 19px;
}

.tag-icon {
  margin-top: 4px;
  margin-right: 5px;
  float: left;
  opacity: 0.19;
}

.tag-title {
  margin-right: 16px;
  float: left;
  color: #b8b8b8;
  font-size: 14px;
}

.back-to-work-column {
  padding-top: 32px;
  text-align: right;
}

.prev-project-wrapper {
  padding-right: 30px;
  border-right: 3px solid #4d4d4d;
  text-align: right;
}

.nex-project-wrapper {
  padding-left: 30px;
}

.project-link {
  text-decoration: none;
}

.project-link:hover {
  color: #323232;
  text-decoration: underline;
}

.name {
  margin-top: 11px;
  font-size: 16px;
}

.social-icon {
  padding-right: 10px;
  opacity: 0.26;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.position {
  margin-bottom: 8px;
  font-family: Vollkorn, serif;
  font-style: italic;
}

.icons-wrapper {
  margin-bottom: 11px;
}

.image-2 {
  margin-top: -100px;
  margin-bottom: 2px;
  padding-top: -1000px;
}

.heading {
  color: #98bced;
}

.heading-2 {
  color: #93b9f2;
}

.image-3 {
  position: static;
  display: block;
  margin-top: -100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.image-4 {
  background-image: url('../images/square-logo-transparent-for-light-back2x.png');
  background-position: 0px 0px;
  background-size: 448px;
}

.image-5 {
  display: block;
  max-width: 70%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.heading-3 {
  color: #93b9f2;
}

.section-2 {
  margin-top: 0px;
  background-color: #323232;
}

.paragraph {
  padding-top: 30px;
  color: #f7f7f7;
}

.heading-4 {
  color: #93b9f2;
}

.image-6 {
  max-width: 90%;
  padding-top: 6px;
}

.heading-5 {
  padding-top: 30px;
  color: #8eb5f8;
}

.container {
  padding-bottom: 50px;
}

.section-3 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #d1d1d1;
}

.heading-6 {
  display: block;
}

.heading-7 {
  margin-right: 0px;
  padding-left: 100px;
}

.heading-8 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #323232;
  font-size: 44px;
}

.paragraph-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.heading-9 {
  display: block;
}

.heading-10 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 60px;
  color: #323232;
}

.section-4 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #d1d1d1;
}

.paragraph-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.heading-11 {
  padding-bottom: 20px;
  padding-left: 400px;
  color: #323232;
}

.column {
  padding-top: 30px;
}

.column-2 {
  padding-top: 30px;
}

.column-3 {
  padding-top: 30px;
}

.image-7 {
  max-width: 60%;
  padding-left: 50px;
}

.image-8 {
  max-width: 60%;
}

.column-4 {
  padding-left: 100px;
}

.container-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.image-9 {
  padding-top: 60px;
}

.container-3 {
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.image-10 {
  max-width: 80%;
  margin-top: -20px;
  padding-top: 0px;
  padding-right: -200px;
  padding-bottom: 0px;
}

.heading-12 {
  position: relative;
  right: 50px;
  width: 250px;
  margin-bottom: 0px;
  color: #f7f7f7;
  font-size: 30px;
}

.column-5 {
  position: relative;
  left: 7px;
  right: -2px;
  padding-right: 0px;
  padding-left: 0px;
}

.heading-13 {
  color: #98bced;
  font-size: 43px;
}

.text-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 60px;
  color: #f7f7f7;
  font-size: 25px;
}

.heading-14 {
  padding-left: 80px;
  color: #323232;
}

.image-11 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3px;
}

.image-12 {
  padding-top: 3px;
}

.image-13 {
  padding-right: 6px;
}

.image-14 {
  padding-left: 6px;
}

.row {
  height: 10px;
}

.column-6 {
  height: 40px;
}

.column-7 {
  height: 40px;
}

.heading-15 {
  width: 250px;
  color: #f7f7f7;
  font-size: 25px;
}

.image-15 {
  padding-top: 30px;
}

.section-5 {
  padding-top: 65px;
  padding-bottom: 53px;
  background-color: #323232;
}

.image-16 {
  padding-top: 100px;
}

@media (max-width: 991px) {
  body {
    padding-top: 57px;
  }
  .nav-link {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    border-top: 1px solid #4d4d4d;
    border-right-style: none;
  }
  .nav-link.social-icons {
    padding-right: 21px;
    padding-left: 21px;
    border-right-color: #4d4d4d;
  }
  .nav-menu {
    background-color: #323232;
    box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, .13), 0 7px 13px -4px rgba(0, 0, 0, .45);
  }
  .menu-icon {
    color: #fff;
    line-height: 21px;
  }
  .menu-button {
    opacity: 0.8;
  }
  .menu-button.w--open {
    background-color: #000;
    opacity: 1;
  }
  .main-heading {
    margin-bottom: 4px;
    font-size: 68px;
  }
  .slider {
    height: 469px;
  }
  .testimonial-slide {
    width: 100%;
    padding-right: 92px;
    padding-left: 92px;
  }
  .left-arrow {
    margin-left: 0px;
  }
  .right-arrow {
    margin-right: 0px;
  }
  .heading-14 {
    padding-left: 60px;
    color: #323232;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .button.beige.footer {
    margin-top: 17px;
    margin-bottom: 8px;
  }
  .navbar {
    position: relative;
  }
  .stone-logo.footer {
    float: none;
  }
  .section {
    padding: 34px 10px;
  }
  .section.grey {
    padding: 35px 10px;
  }
  .section.image {
    padding: 61px 10px;
    background-attachment: scroll;
  }
  .section.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
  }
  .main-heading {
    font-size: 50px;
    line-height: 44px;
  }
  .slider {
    height: 392px;
  }
  .slide {
    padding: 50px 10px;
  }
  .icon-wrapper {
    height: 102px;
  }
  .number {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .testimonials-slider {
    padding-right: 19px;
    padding-left: 19px;
  }
  .testimonial-slide {
    padding-right: 34px;
    padding-left: 34px;
  }
  .footer-text.address {
    text-align: center;
  }
  .contact-form-column {
    margin-top: 35px;
    padding: 43px 10px;
  }
  .contact-info-column {
    padding-top: 42px;
  }
  .back-to-work-column {
    padding-top: 12px;
    text-align: left;
  }
  .icons-wrapper {
    margin-bottom: 23px;
  }
  .project-column {
    padding-top: 23px;
  }
}

@media (max-width: 479px) {
  .main-heading {
    width: 100%;
    font-size: 48px;
  }
  .slider {
    height: 476px;
  }
  .slide {
    padding-top: 58px;
    padding-bottom: 58px;
  }
  .contact-form-column {
    text-align: center;
  }
  .contact-info-column {
    text-align: center;
  }
  .text-block {
    padding-left: 0px;
  }
  .link-block {
    max-width: 14%;
  }
}

